<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>873287365017-1fce1t2ua8iln22gi8j3a4c82811q3q3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873287365017-1fce1t2ua8iln22gi8j3a4c82811q3q3</string>
	<key>API_KEY</key>
	<string>AIzaSyDD5DG0D82jPihI-9Ae7IIi2lGfN5eeDfE</string>
	<key>GCM_SENDER_ID</key>
	<string>873287365017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atgroup.swift.travelwithus</string>
	<key>PROJECT_ID</key>
	<string>travel-with-us-d4d89</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-with-us-d4d89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:873287365017:ios:2ef9cc1b1936e475</string>
	<key>DATABASE_URL</key>
	<string>https://travel-with-us-d4d89.firebaseio.com</string>
</dict>
</plist>